doctype html

mixin navli(href, isCurrent, imgSrc, imgAlt, imgTitle)
  li
    a(href=href class=isCurrent ? "current" : "")
      img.flag(src=imgSrc, alt=imgAlt, title=imgTitle)

mixin nav(current)
  nav
    ul
      +navli(
        "/english",
        current.english,
        "/images/flag-of-United-States-of-America.png",
        "US Flag",
        "Go to US English site"
      )
      +navli(
        "/french",
        current.french,
        "/images/flag-of-France.png",
        "Drapeau de la france",
        "Aller sur le site français"
      )
      +navli(
        "/serbian",
        current.serbian,
        "/images/flag-of-Serbia.png",
        "Застава Србије",
        "Идите на српски сајт"
      )

mixin earthImg(alt, title)
  img(src="/images/earth.jpg", alt=alt, title=title)

html
  head
    block title
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/application.css")

  body
    block nav
    block content
